<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!--  Register a section handler for the log4net section  -->
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
	</configSections>

	<appSettings>
		<!-- To enable internal log4net logging specify the following appSettings key -->
		<!-- <add key="log4net.Internal.Debug" value="true"/> -->
		<!-- <add key="CONNECTIONSTRING" value="Server=mmgtdawn-vm;Database=fps_sa;Integrated Security=SSPI;Application Name='EmailAlerts'"/> -->
		<add key="CONNECTIONSTRING" value="Server=XXXDBSERVER;Database=XXXDB;Integrated Security=SSPI;Application Name='EmailAlerts'"/>
		<add key="BASEDIRECTORY" value="C:\Executables\PRD\cob"/>
		<add key="CURRENTSYSTEM" value="."/>
		<add key="ARCPURGEDAYS" value="90"/>
		<!--<add key="MAILRECIPIENT" value="dpharmdwn@fairview.org"/>-->
		<add key="MAILRECIPIENT" value="paulp@poitevent.com"/>
		<add key="TIMEOUT" value="10800"/>
		<!-- 10800 = 3 Hours -->
		<add key="EMAILALERTRECIPIENTS" value="paulp@poitevent.com"/>
	</appSettings>

	<!--  This section contains the log4net configuration settings -->
	<log4net>
		<!--  Define some output appenders -->
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="c:/test/logfiles/emailAlerts.log"/>
			<!--  Example using environment variables in params -->
			<!--  <file value="${TMP}\log-file.log" /> -->
			<appendToFile value="true"/>
			<!--  An alternate output encoding can be specified -->
			<!--  <encoding value="unicodeFFFE" /> -->
			<layout type="log4net.Layout.PatternLayout">
				<header value=""/>
				<footer value=""/>
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<connectionString value="data source=XXXDBSERVER;initial catalog=XXXDB;integrated security=true;persist security info=True;"/>
			<commandText value="INSERT INTO [dbo].[BatchLog] ([Date],{Program], [Thread],[Level],[Logger],[Message]) VALUES (@log_date, 'NovoNordiskQrtlyRebate', @thread, @log_level, @logger, @message)"/>
			<parameter>
				<parameterName value="@log_date"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}"/>
			</parameter>
			<parameter>
				<parameterName value="@thread"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout" value="%thread"/>
			</parameter>
			<parameter>
				<parameterName value="@log_level"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout" value="%level"/>
			</parameter>
			<parameter>
				<parameterName value="@logger"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout" value="%logger"/>
			</parameter>
			<parameter>
				<parameterName value="@message"/>
				<dbType value="String"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout" value="%message"/>
			</parameter>
		</appender>
		<!--  Setup the root category, add the appenders and set the default level -->
		<root>
			<level value="INFO"/>
			<appender-ref ref="LogFileAppender"/>
			<!--<appender-ref ref="AdoNetAppender_SqlServer"/>-->
		</root>
	</log4net>

</configuration>



